template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_rm_mc_crm_np_01_euw_rg_int_accountbulkupd_logicapp_name": {
            "defaultValue": "rm-mc-crm-np-01-euw-rg-int-accountbulkupd-logicapp",
            "type": "String"
        },
        "userassignedidentities_rm_mc_crm_np_01_euw_rg_int_uami_externalid": {
            "defaultValue": "/subscriptions/dd9a892c-5aa3-4be7-ba1e-fa6be6d31e04/resourceGroups/rm-mc-crm-np-01-euw-rg-integration/providers/microsoft.managedidentity/userassignedidentities/rm-mc-crm-np-01-euw-rg-int-uami",
            "type": "String"
        },
        "connections_commondataservice_externalid": {
            "defaultValue": "/subscriptions/dd9a892c-5aa3-4be7-ba1e-fa6be6d31e04/resourceGroups/rm-mc-crm-np-01-euw-rg-integration/providers/Microsoft.Web/connections/commondataservice",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_rm_mc_crm_np_01_euw_rg_int_accountbulkupd_logicapp_name')]",
            "location": "westeurope",
            "tags": {
                "displayName": "LogicApp",
                "AppCode": "CRM",
                "Application": "Customer Insights",
                "BudgetOwner": "Daniel.Matri@RHIMagnesita.com",
                "CostCenter": "000A96921981",
                "CreationDate": "20220801",
                "Department": "SCDG",
                "Environment": "Test",
                "Owner": "Daniel.Matri@RHIMagnesita.com",
                "PersonalData": "Sensitive",
                "SensitiveData": "Sensitive",
                "ServiceCriticality": "High",
                "SupportGroup": "CRM_SupportGroup@rhimagnesita.com",
                "TechnicalLead": "mizikle@rhimagnesita.com",
                "ProductTeam": "CRM_ProductTeam@rhimagnesita.com, john.taylor@rhimagnesita.com"
            },
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "/subscriptions/dd9a892c-5aa3-4be7-ba1e-fa6be6d31e04/resourcegroups/rm-mc-crm-np-01-euw-rg-integration/providers/microsoft.managedidentity/userassignedidentities/rm-mc-crm-np-01-euw-rg-int-uami": {}
                }
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "sap_api": {
                            "defaultValue": "https://rhim-apim-dev.azure-api.net/sapInbound/CRM",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('List_accounts_to_be_synched_')?['value']",
                            "actions": {
                                "Check_if_Global_Id_exists": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "@parameters('sap_api')",
                                        "body": {
                                            "Request": {
                                                "header": {
                                                    "correlationId": "@{guid()}",
                                                    "eventTime": "@{utcNow()}",
                                                    "eventType": "read",
                                                    "source": "CRM",
                                                    "subject": "customer",
                                                    "version": "1.0"
                                                },
                                                "payload": {
                                                    "customer": [
                                                        {
                                                            "globalCustomerId": "@{items('For_each')?['accountnumber']}"
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "authentication": {
                                            "audience": "3acacea6-5ddf-4c53-8959-bcaef7f8dfee",
                                            "identity": "[parameters('userassignedidentities_rm_mc_crm_np_01_euw_rg_int_uami_externalid')]",
                                            "type": "ManagedServiceIdentity"
                                        }
                                    }
                                },
                                "For_each_account_to_be_synched": {
                                    "foreach": "@body('Parse_Response')?['Response']?['payload']?['result']",
                                    "actions": {
                                        "Customer_not_found": {
                                            "actions": {
                                                "For_each_new_update": {
                                                    "foreach": "@body('Parse_Update_Response')?['Response']?['payload']?['result']",
                                                    "actions": {
                                                        "Condition": {
                                                            "actions": {
                                                                "Update_send_to_SAP_flag": {
                                                                    "runAfter": {},
                                                                    "type": "ApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connection": {
                                                                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method": "patch",
                                                                        "body": {
                                                                            "rhim_updatedtosap": true
                                                                        },
                                                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('a0667f70da954b71b8ca65311a2260.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['accountid']))}"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "else": {
                                                                "actions": {
                                                                    "Update_SAP_Sync_Message": {
                                                                        "runAfter": {},
                                                                        "type": "ApiConnection",
                                                                        "inputs": {
                                                                            "host": {
                                                                                "connection": {
                                                                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                                                                }
                                                                            },
                                                                            "method": "patch",
                                                                            "body": {
                                                                                "rhim_sap_syncmessage": "@items('For_each_new_update')?['message']",
                                                                                "rhim_updatedtosap": false,
                                                                                "_ownerid_type": ""
                                                                            },
                                                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('a0667f70da954b71b8ca65311a2260.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['accountid']))}"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@items('For_each_new_update')?['successful']",
                                                                            true
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "type": "If"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_Update_Response": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "Parse_Update_Response": {
                                                    "runAfter": {
                                                        "Update_Global_Id_in_SAP": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Update_Global_Id_in_SAP')",
                                                        "schema": {
                                                            "properties": {
                                                                "Response": {
                                                                    "properties": {
                                                                        "header": {
                                                                            "properties": {
                                                                                "correlationId": {
                                                                                    "type": "string"
                                                                                },
                                                                                "eventTime": {
                                                                                    "type": "string"
                                                                                },
                                                                                "eventType": {
                                                                                    "type": "string"
                                                                                },
                                                                                "source": {
                                                                                    "type": "string"
                                                                                },
                                                                                "subject": {
                                                                                    "type": "string"
                                                                                },
                                                                                "version": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "payload": {
                                                                            "properties": {
                                                                                "result": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "key": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "message": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "successful": {
                                                                                                "type": "boolean"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "key",
                                                                                            "successful"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Update_Global_Id_in_SAP": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "POST",
                                                        "uri": "@parameters('sap_api')",
                                                        "body": {
                                                            "Request": {
                                                                "header": {
                                                                    "correlationId": "@{guid()}",
                                                                    "eventTime": "@{utcNow()}",
                                                                    "eventType": "update",
                                                                    "source": "CRM",
                                                                    "subject": "customer",
                                                                    "version": "1.0"
                                                                },
                                                                "payload": {
                                                                    "customer": [
                                                                        {
                                                                            "customerId": "@{items('For_each')?['rhim_sapid']}",
                                                                            "globalCustomerId": "@{items('For_each')?['accountnumber']}"
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "authentication": {
                                                            "audience": "3acacea6-5ddf-4c53-8959-bcaef7f8dfee",
                                                            "identity": "[parameters('userassignedidentities_rm_mc_crm_np_01_euw_rg_int_uami_externalid')]",
                                                            "type": "ManagedServiceIdentity"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_account_to_be_synched')?['successful']",
                                                            false
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_Response": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_Response": {
                                    "runAfter": {
                                        "Check_if_Global_Id_exists": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Check_if_Global_Id_exists')",
                                        "schema": {
                                            "properties": {
                                                "Response": {
                                                    "properties": {
                                                        "header": {
                                                            "properties": {
                                                                "correlationId": {
                                                                    "type": "string"
                                                                },
                                                                "eventTime": {
                                                                    "type": "string"
                                                                },
                                                                "eventType": {
                                                                    "type": "string"
                                                                },
                                                                "source": {
                                                                    "type": "string"
                                                                },
                                                                "subject": {
                                                                    "type": "string"
                                                                },
                                                                "version": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "payload": {
                                                            "properties": {
                                                                "result": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "message": {
                                                                                "type": "string"
                                                                            },
                                                                            "successful": {
                                                                                "type": "boolean"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "key",
                                                                            "successful"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "List_accounts_to_be_synched_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "List_accounts_to_be_synched_": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('a0667f70da954b71b8ca65311a2260.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items",
                                "queries": {
                                    "$filter": "rhim_sapid ne null and rhim_updatedtosap ne true and rhim_isaccountverified eq true and  Microsoft.Dynamics.CRM.ContainValues(PropertyName='rhim_companyname',PropertyValues=['1']) "
                                }
                            },
                            "runtimeConfiguration": {
                                "paginationPolicy": {
                                    "minimumItemCount": 60000
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "commondataservice": {
                                "id": "/subscriptions/dd9a892c-5aa3-4be7-ba1e-fa6be6d31e04/providers/Microsoft.Web/locations/westeurope/managedApis/commondataservice",
                                "connectionId": "[parameters('connections_commondataservice_externalid')]",
                                "connectionName": "commondataservice"
                            }
                        }
                    },
                    "sap_api": {
                        "value": "https://rhim-apim-dev.azure-api.net/sapInbound/CRM"
                    }
                }
            }
        }
    ]
}